---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
    <p>
        Hopefully just a space on the web that contains my things and is rendered in simple html+css
    </p>
    <p>
        Built with <a href="https://astro.build/"> Astro </a>
    </p>
    <p>
        Hosted on <a href="https://aws.amazon.com/amplify/">AWS Amplify </a>
    </p>

</Layout>