---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
const posts = await getCollection("code");

---
<Layout title="collection test">
    {
        posts.map((post) => (
            <div class="instructions">
                <h2>{post.data.title}</h2>
                <p>{post.data.date}</p>
                <a href={'code/' + post.slug}>Read more</a>
            </div>
        ))
    }
</Layout>