---
interface Props {
	title: string;
	description: string;
	href: string;
	datestring: string
}

const { href, title, description , datestring} = Astro.props;
---
<a href={href}>
<div class="link-card">
	<div class="link-card-title">
		{title}
	</div>
		<p class="link-card-content">
			{description}
		</p>
	<div class="link-card-date">
		{datestring}
	</div>
</div>
</a>

<style>
	a {
		text-decoration: none;
		color: greenyellow;
		font-style: normal;
	}
	.link-card {
		margin-bottom: 25px;
		width: 80%;
		border-color: greenyellow;
		border-style: solid;
		border-width: 2px;
		color: #FFFFFF;
	}

	.link-card-content {
		padding-left: 10px;
	}
	.link-card-title {
		background-color: greenyellow;
		color: rgba(31, 31, 31, 0.9);
		padding: 1px;
	}
	.link-card-date {
		color: greenyellow;
		font-size: smaller;
		text-align: right;
		padding-right: 5px;
	}
</style>

