
<div>
    <div>
    <a href="/">Home</a><br/>
    <a href="/collection">Posts</a><br />
    <a href="/codeindex">Code</a><br />
        <a href="https://sometimes.rocketsgoto.space">tumblr</a>
        <a href="https://bsky.app/profile/rocketsgoto.space">BlueSky</a>
    </div>
    asdfa
</div>
