
<div>
    <div>
    <a href="/">Home</a><br/>
    <a href="/postindex">Posts</a><br />
    <a href="/codeindex">Code</a><br />
        <a href="https://sometimes.rocketsgoto.space">tumblr</a>
        <a href="https://bsky.app/profile/rocketsgoto.space">BlueSky</a>
        <a rel="me" href="https://tech.lgbt/@zeph">Mastodon</a>
        <a href="/about">About</a>
    </div>

</div>
