---
import Sidebar from '../components/Sidebar.astro';
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<main>
	<div class="grid gap-1 grid-flow-col border-black border-2 p-0.5">
		<div class="row-span-5 col-span-2 border-black border-2"><Sidebar /></div>
		<div class="col-span-8 row-span-1 border-black border-2"><Header /></div>
		<div class="row-span-4 col-span-8 border-black border-2"><slot /></div>
		<!--<div class="col-span-8 row-span-1 border-black border-2">Footer Here</div>-->
	</div>
	</main>
	</body>
</html>

