---
import Sidebar from '../components/Sidebar.astro';
import Header from '../components/Header.astro';
import '../styles/styles.css'

interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="rocketsgoto.space A Dumb Website I Made"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <title>{title}</title>

</head>
<body>

<main>
    <div id="page">
        <nav>
            <Sidebar/>
        </nav>
        <header>
            <Header/>
        </header>
        <main>
            <div class="content-div">
                <slot/>
            </div>
        </main>
    </div>
</main>
</body>
<div id="underlay"></div>
</html>

